@model IEnumerable<GilliandMIS4200.Models.StudentCourse>

@{
    ViewBag.Title = "Enrollment Index";
}

<h2> Enrollment Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enrollmentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.course.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enrollmentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentCourseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentCourseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentCourseID })
        </td>
    </tr>
}

</table>
